Encrypted token with '=' at end, urlencoded tokens

When i get token from keyclaok and encrypt it myself, gatekeeper dont decrypt it, when `=` at end. It becomes with base64encode function.
When i send cookie to browser it urlendoded it, and gatekeeper cant decrypt. 

Maybe there is a possibility to handle these moments on the gatekeeper side?

Hi, thanks for opening issue! could you provide more detailed steps what have you done, best would be if you paste commands how you encrypted token etc...

> Hi, thanks for opening issue! could you provide more detailed steps what have you done, best would be if you paste commands how you encrypted token etc...

I do authorization on my backend, the backend itself receives a token from keylock, encrypts it with the same algorithm as the gatekeeper and sends it to the frontend. During standard encoding in base64, sometimes one or two "=" signs are added to the end of the string. If I do not discard them, the gatekeeper cannot decrypt my token. If I discard them before sending to the browser, it successfully decrypts. Maybe it is possible to discard these signs on the gatekeeper side?

The second part of the question is that the browser, having received the token, saves it in a cookie, and the saved value is URL-encoded (%2B, %2F symbols instead of slash and plus symbols). It would be great to have a setting on the gatekeeper side for URL decoding, or automatically determine by the %2B and %2F symbols that the string is URL-encoded and decode it.

My backend is on PHP + Laravel, I can send you the encryption class for review.

Hi, not sure why you are base64 encoding token, it is already base64 encoded, see how jwt token is created https://www.geeksforgeeks.org/json-web-token-jwt/

@dthpto gogatekeeper uses RawStdEncoding which does NOT add padding at the end -> '='

```
RawStdEncoding is the standard raw, unpadded base64 encoding, as defined in RFC 4648 section 3.2. This is the same as StdEncoding but omits padding characters.
```